


input[type="text"] {
  background: transparent;
  border: none;
}

.center {
  margin: auto;
  width: 70%;
  text-align: center;

}

.cellsize {
  height: 55px;
  padding: 20px 0;
}

#paymentInfo{
  width: 100%;
  text-align: center;
}
